* {
  padding: 0;
  margin: 0;

  /* Dimensiones cajas */
  box-sizing: border-box;
}

html ,
body {
  background-color: #1b1b32;
}

.App{
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.logocont  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.logo {
  height: 50px;
}

@media (max-width: 415px) {
    .logo {
      width: 350px;
    }
}

.contadorcont {
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}