* {
  padding: 0;
  margin: 0;

  /* Dimensiones cajas */
  box-sizing: border-box;
}

html ,
body {
  background-color: #1b1b32;
}

.App{
  height: 100vh;
  padding-top: 15px;
  font-family: Lato, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logocont  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.logo {
  height: 50px;
}

.calccont {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 415px) {
    .logo {
      width: 360px;
    }

    .calccont {
      width: 330px;
    }
}